.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  background-color: white;
  padding: 31px 29px 32px 34px;

  @media screen and (max-width: 600px) {
    display: none;
  }

  .nav__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1000px) {
      gap: 18px;
    }
    @media screen and (max-width: 800px) {
      gap: 15px;
    }

    .nav__logo {
      width: 124px;
      height: 31px;
      margin-right: 20px;
    }

    .search__bar {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border: 1.2px solid #cacaca;
      width: 343px;
      height: 31px;
      border-radius: 5px;
      gap: 10px;

      @media screen and (max-width: 1000px) {
        width: 200px;
      }

      @media screen and (max-width: 800px) {
        width: 150px;
      }

      @media screen and (max-width: 720px) {
        display: none;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #06335b;
        padding: 8.4px;

        border-radius: 5px;
      }

      p {
        color: #404040;
        font-weight: 300;
        font-size: 11px;
        line-height: 14px;
      }
    }
  }

  .nav__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @media screen and (max-width: 1000px) {
      gap: 25px;
    }
    @media screen and (max-width: 800px) {
      gap: 20px;
    }

    .nav__icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;

      p {
        font-size: 14px;
      }
    }
  }
}

.nav__small {
  display: none;

  @media screen and (max-width: 600px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .nav__small__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 180px;
      padding: 20px;
      border-radius: 20px;
      width: 90%;

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        color: #070f1c;
      }
    }
  }

  @media screen and (max-width: 560px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .nav__small__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 150px;
      padding: 18px 20px;
      border-radius: 20px;
      width: 90%;

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        color: #070f1c;
      }
    }
  }

  @media screen and (max-width: 480px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .nav__small__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 100px;
      padding: 18px 20px;
      border-radius: 20px;
      width: 90%;

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        color: #070f1c;
      }
    }
  }

  @media screen and (max-width: 400px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .nav__small__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 80px;
      padding: 16px 20px;
      border-radius: 20px;
      width: 90%;

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        color: #070f1c;
      }
    }
  }

  @media screen and (max-width: 350px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .nav__small__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 60px;
      padding: 15px 20px;
      border-radius: 20px;
      width: 90%;

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        color: #070f1c;
      }
    }
  }

  @media screen and (max-width: 305px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .nav__small__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 40px;
      padding: 14px 20px;
      border-radius: 20px;
      width: 80%;

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;

        color: #070f1c;
      }
    }
  }
}
